body{
    background-color: #efefef;

}

.main{
    background-color: white;
    margin: 35px;
}

.btu-pulish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.proflie .sectiom{
    margin-top: 15px;
}
.a-right{
    border-right:1px solid #dbddd3;
    margin-top: 10px;
    margin-bottom: 10px;
}