<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 分页 -->
<nav aria-label="Page navigation" style="text-align: center">

    <ul class="pagination pagination-lg" th:if="${search == null}">

        <li th:if="${pagination.showFirstPage}">
            <a href="/?page=1" aria-label="Previous">
                <span aria-hidden="true">>&lt;&lt;</span>
            </a>
        </li>
        <li th:if="${pagination.showPrevious}">
            <a th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
            <a th:href="@{/(page=${page})}" th:text="${page}"></a>
        </li>
        <li th:if="${pagination.showNext}">
            <a th:href="@{/(page=${pagination.page + 1})}" aria-label="next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li th:if="${pagination.showEndPage}">
            <a th:href="@{/(page=${pagination.totalPage})}" aria-label="next">
                <span aria-hidden="true">&gt;&gt;</span>
            </a>
        </li>
    </ul>

    <ul class="pagination pagination-lg" th:if="${search != null}">

        <li th:if="${pagination.showFirstPage}">
            <a th:href="@{/SearchFor/(search=${search},page=1)}" aria-label="Previous">
                <span aria-hidden="true">>&lt;&lt;</span>
            </a>
        </li>
        <li th:if="${pagination.showPrevious}">
            <a th:href="@{/SearchFor/(search=${search},page=${pagination.page - 1})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
            <a th:href="@{/SearchFor/(search=${search},page=${page})}" th:text="${page}"></a>
        </li>
        <li th:if="${pagination.showNext}">
            <a th:href="@{/SearchFor/(search=${search},page=${pagination.page + 1})}" aria-label="next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li th:if="${pagination.showEndPage}">
            <a th:href="@{/SearchFor/(search=${search},page=${pagination.totalPage})}" aria-label="next">
                <span aria-hidden="true">&gt;&gt;</span>
            </a>
        </li>

    </ul>

</nav>
</body>
</html>