<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/personal.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
<!-- 导航栏 导入 -->

<div th:insert="navigation :: nav"></div>

<div class="container-fluid proflie">
    <div class="row main" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padrl" >
            <div class="col-lg-13 col-md-13 col-sm-13 col-xs-13" style="background-color: #999999;padding: 75px;border-radius: 6px;"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="app">
                <img th:src="${session.user.getAvatar()}" class="img-rounded homeimg">
            </div>
            <div class="col-lg- col-md-9 col-sm-9 col-xs-9" th:if="${session != null}">
                <h1 th:text="${session.user.name}" >姓名</h1>
                <h3 style="font-size: 20px;margin-top: 30px;">资料</h3>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="elbutton">
                <el-button id="elbutton" name="elbutton" type="primary" style="margin-top: 65px;margin-left: -87px;" plain>编辑个人资料</el-button>
            </div>
        </div>
    </div>
</div>


<!--遮罩窗体-->
<div th:insert="modeltion :: nav"></div>

</body>>
<!-- 引入组件库 -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.13.1/lib/index.js"></script>
<script>
    new Vue({
        el: '#elbutton'
    })
    $("#elbutton").click(function () {
        window.location.replace("/personalmodify");
    })
</script>
<script>
    export default {
        data() {
            return {
                dialogImageUrl: '',
                dialogVisible: false
            };
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    }
</script>
<script src="/js/login.js"></script>
</html>