<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjp123.demo.mapper.QuesstionMapper">

    <resultMap type="Question" id="questionResultMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id" />

        <!-- 定义普通属性 -->
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="creator" column="creator" />
        <result property="commentCount" column="comment_count" />
        <result property="viewCount" column="view_count" />
        <result property="likeCount" column="like_count" />
        <result property="tag" column="tag" />
    </resultMap>

    <!-- 添加数据 -->
    <insert id="increaseQuestion">
        insert into question (title,description,gmt_create,gmt_modified,creator,tag) values (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <!-- 更新文章 -->
    <update id="update">
         UPDATE question set  title=#{title} , description=#{description} , gmt_modified=#{gmtModified} , tag=#{tag} where id=#{id}
    </update>

    <!-- 更新浏览数 -->
    <update id="viewId">
        UPDATE question set view_count = view_count + 1 WHERE id = #{id}
    </update>

    <!-- 增加点赞数 -->
    <update id="likesAdd">
        UPDATE question set like_count = like_count + 1 WHERE id = #{id}
    </update>

    <!-- 减少点赞数 -->
    <update id="likesDelete">
        UPDATE question set like_count = like_count - 1 WHERE id = #{id}
    </update>

    <!-- 增加回复数 -->
    <update id="commentAdd">
        UPDATE question set comment_count = comment_count + 1 WHERE id = #{id}
    </update>

    <!-- 删除文章 -->
    <delete id="deleteId">
        DELETE from question where id = #{id};
    </delete>

    <!-- 分页查询 -->
    <select id="selectAll" resultMap="questionResultMap">
        select * from question order by id desc limit #{offset},#{size} ;
    </select>

    <!-- 根据id进行分页查询 -->
    <select id="selectAllByid" resultMap="questionResultMap">
        select * from question where creator=#{userId} order by id desc limit #{offset},#{size} ;
    </select>

    <!-- 查询总条数 -->
    <select id="count" resultType="Integer">
        select count(1) from question;
    </select>

    <!-- 根据用户id查询 -->
    <select id="countById"  resultMap="questionResultMap">
        select * from question where creator=#{userId};
    </select>

    <select id="getById"  resultMap="questionResultMap">
        select * from question where id=#{userId};
    </select>

    <!-- 标签推荐 -->
    <select id="selectRelated" resultMap="questionResultMap">
        select  * from question where id!=#{id} and tag regexp #{tag} order by id desc LIMIT 10;
    </select>

    <select id="seleteHot" resultType="com.hjp123.demo.bean.Question">
        select  * from question order by comment_count desc,like_count desc,view_count desc,gmt_modified asc LIMIT 10;
    </select>
</mapper>